

/* ! Background du site */

html {
    background-image: url(../Images/site_background.jpg);
    font-family: Varela Round,
}


/* ! Navigation du site */

a 
{
    text-decoration: none;
}

li > a 
{
    color: white;

}
li > a:hover 
{
  background-color: #46B39C ; 
}


.nav_list 
{

display: flex;
flex-wrap: wrap;
justify-content: center;
list-style-type:none;

background-color: #08252D;


}

/* Bouton close */
.sidenav .close {
    visibility: hidden;
    position: absolute;
    visibility: visible;
 }



.list-element
{
display: flex;
margin: 0 1rem 0 1rem;
text-transform: uppercase;

color: white;


}

